body {
    margin: 0;
    font-size: 25px;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 5px 15px 5px 0px;
}

#logo {
    margin: 0 15px;
    border-radius: 10px;
    align-self: center;
    font-size: 70px;
    cursor: pointer;
}

#logo:hover {
    color: #0062ff;
}

#navbar-icons {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    box-sizing: border-box;
}

#navbar-icons > *{
    cursor: pointer;
    padding: 0 0 0 15px;
    align-self: center;
}

#navbar-icons > span:hover{
    color: #0062ff;
}

#search {
    padding: 0;
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#search-box {
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: 2px solid black;
    font-weight:600;
}

#search-icon {
    color: black;
    padding: 10px 5px;
    /* box-sizing: border-box; */
}

#search:hover {
    border: 2px solid #0062ff;
    color: #0062ff;
}

#search:hover #search-box{
    border: 0;
    color: #0062ff;
}

#search:hover #search-icon {
    color: #ffffff;
    background-color: #0062ff;
}

#search-box:focus {
    border: 2px solid #0062ff;
    color: #0062ff;
}

#search-box:focus + #search-icon{
    color: #ffffff;
    background-color: #0062ff;
    /* padding: 11px 5px; */
}

#container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#welcome {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 40px;
}

#about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#about-img {
    width: 400px;
    object-fit: cover;
    object-position: bottom;
    margin: 10px;
}

#about-description {
    margin: 10px 20px;
}

#specialities {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
}

.fields {
    width: 350px;
    height: 250px;
    border: 1px solid black;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

#reviews-container {
    width: 90%;   
}

#reviews {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.user {
    margin: 40px;
    min-width: 350px;
    min-height: 400px;
    text-align: center;
    border: 1px solid black;
    scroll-snap-align: center;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    font-size: 20px;
}

#contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#footer-logos {
    transform: translateY(2px);
}

/* Media Queries */

@media (max-width: 1000px) {
    #about {
        flex-flow: column nowrap;
    }
}

@media (max-width: 651px) {
    #navbar {
        flex-flow: column nowrap;
    }

    #navbar-icons {
        justify-content: space-evenly;
    }
}
/* @media (max-width: 649px) {} */