body {
    margin: 0;
    font-size: 22px;
    font-family: 'Fira Code', monospace;
    background-color: #ecf8ff;
}

h3 {
    font-size: 25px;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 15px 5px 0px;
    box-shadow: 0 0 10px #0062ff, 0 0 5px #888888;
    z-index: 100;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    overflow-x: hidden;
}

#logo {
    margin: 0 15px;
    border-radius: 10px;
    align-self: center;
    font-size: 70px;
    cursor: pointer;
}

#logo:hover {
    color: #0062ff;
}

#navbar-icons {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    box-sizing: border-box;
}

#navbar-icons > *{
    cursor: pointer;
    padding: 0 0 0 15px;
    align-self: center;
}

#navbar-icons > span:hover{
    color: #0062ff;
}

#search {
    padding: 0;
    font-size: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#search-box {
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: 2px solid black;
    font-weight:600;
}

#search-icon {
    color: black;
    padding: 10px 5px;
}

#search:hover {
    border: 2px solid #0062ff;
    color: #0062ff;
}

#search:hover #search-box{
    border: 0;
    color: #0062ff;
}

#search:hover #search-icon {
    color: #ffffff;
    background-color: #0062ff;
}

#search-box:focus {
    border: 2px solid #0062ff;
    color: #0062ff;
}

#search-box:focus + #search-icon{
    color: #ffffff;
    background-color: #0062ff;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#welcome {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 40px;
    background-color: #0d168b;
    color: white;
    font-weight: bold;
}

#about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#about-img {
    width: 400px;
    object-fit: cover;
    object-position: bottom;
    margin: 10px;
    transform: translateY(5%);
}

#about-description {
    margin: 10px 20px;
}

#about-description > h2 {
    color: #0d168b;
    text-decoration: underline;
    font-size: 40px;;
}

#container > h3 {
    text-decoration: underline;
    color: #0d168b;
    font-size: 30px;
    font-weight: bold;
}

#specialities {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100%;
    background-color: #50b9ff;
}

.fields {
    width: 350px;
    height: 250px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #0d168b;
}

#reviews-container {
    width: 80%;   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#left-arrow, #right-arrow {
    font-weight: bolder;
    font-size: 40px;
}

#reviews {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    overscroll-behavior-x: auto;
    scroll-snap-type: x mandatory;
}

.user {
    margin: 40px;
    min-width: 350px;
    min-height: 400px;
    text-align: center;
    background-color: #00B9E6;
    box-shadow: 0 0 5px #00B9E6;
    scroll-snap-align: center;
    font-size: 22px;
}

.user-photo {
    width: 290px;
    margin: 10px auto;
}

.user-review {
    padding: 0 0 10px 0;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 0 10px;
    background-color: #0d168b;
    color: white;
}

footer > h3 {
    text-decoration: underline;
}

#contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#footer-logos {
    transform: translateY(2px);
}

/* Media Queries */

@media (max-width: 1000px) {
    #about {
        flex-flow: column nowrap;
    }
}

@media (max-width: 651px) {
    #user-account {
        visibility: collapse;
    }

    #about-img {
        width: 80%;
    }
}

@media (max-width: 499px) {
    #search {
        visibility: collapse;
    }

    #navbar {
        display: inline;    
    }

    #logo {
        float: left;
    }

    #navbar-icons {
        transform: translateY(35%);
    }

    #menu-icon {
        scale: 1.5;
        transform: translateX(-20%);
    }

    .user {
        scale: 0.8;
    }
}