body {
    margin: 0;
    overflow-x: hidden;
    /* font-family: 'Fira Code', monospace; */
    font-family: 'Special Elite', cursive;
    background-image: radial-gradient(circle, #dbff89, #d8ff7e, #d4ff74, #d1ff68, #cdff5c);
}

#heading {
    text-align: center;
    font-size: 30px;
    text-decoration: underline 2px;
    text-transform: uppercase;
}

#container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 300px;
    height: 300px;
    border: 2px solid #845EC2;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0 0 8px #845EC2;
    text-shadow: 0 0 5px #845EC2;
    transform: scale(1.02);
}